
.apexcharts-toolbar {
  background: transparent !important;   
  color: #fff !important;        
  border-radius: 8px;            
}

.apexcharts-menu {
  background: #222 !important;   
  color: #fff !important;       
}

.apexcharts-menu-item {
  background: #222 !important;   
  color: #00e396 !important;     
}

.apexcharts-menu-item:hover {
  background: #333 !important;   
  color: #fff !important;    
}
