.dnf-container{
    width: 100%;
    height: 750px;
}
    
.dnf-choose{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
    
.dnf-chart{
  margin: auto;
  margin-top: 3rem;
  width: 90%;
  height: 75%;
  border-radius: 16px;
  background: rgba(30, 41, 59, 0.8);
  border: 1px solid rgba(71, 85, 105, 0.4);
  padding: 2rem;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
}


@media (max-width: 840px) {

  .dnf-container{
    width: 100%;
    height: 50%;
}

.dnf-chart{
  margin: auto;
  margin-top: 3rem;
  width: 90%;
  height: 65%;
  border-radius: 16px;
  background: rgba(30, 41, 59, 0.8);
  border: 1px solid rgba(71, 85, 105, 0.4);
  padding: 2rem;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
}

  .dnf-choose {
    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));   
  }
}







