.secondary-containter{
  margin: auto;
}

.secondary-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  max-width: 1200px;
  width: 100%;
  margin: auto;
}

.secondary-stack-container {
  position: relative;
  width: 100%;
  height: 520px;
  max-width: 900px;
  perspective: 1000px;
}


.secondary-stack-index {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    flex-direction: row;
    gap: 15px;
    font-weight: bold;
    backdrop-filter: blur(20px);
}


.secondary-stack-index div{
  transition: all;
  transition-duration: 0.4s;
  font-size: larger;
  font: 500;
}

.secondary-stack-index div.selected{
  color: #f472b6;
  font: 900;
}

.secondary-stack-index div:hover{
  color: #f472b6;
  cursor: pointer;
  transition: all;
  transition-duration: 0.4s;
}

@media (min-width: 900px) {

.secondary-stack-container {
  height: 520px;
  max-width: 85%;
  min-height: 320px;
  perspective: 1000px;
}}


@media (max-width: 900px) {

.secondary-wrapper {
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 90px;
}

.secondary-wrapper .secondary-stack-container {
  height: 480px;
  max-width: 100%;
  min-height: 320px;
  perspective: none;
}

.secondary-wrapper .graph-card {
  position: relative;
  padding: 1.5rem;
  transform: none !important;
  opacity: 1 !important;
  transition: all;
  transition-duration: 0.5s;
}

.secondary-wrapper .graph-card.prev,
.secondary-wrapper .graph-card.next {
  display: none;
}
.secondary-wrapper .arrow-btn {
  width: 42px;
  height: 42px;
  font-size: 1.2rem;
  top: auto;
  bottom: 18px;
}

.secondary-wrapper .arrow-btn-left {
  left: 12%;
}

.secondary-wrapper .arrow-btn-right {
  right: 12%;
}

}

